@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

@media (max-width:1600px){
  .container{
    max-width: 1300px;
  }
}

body{
  font-family: "Mulish";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #000;
  color: #bbb;
}

div {
  display: block;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*Menu div*/
.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 20px 0px;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.navbar .navbarinner{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbarinner .logo img{
  max-width: 70px;
}

.navbar .menu{
  display: flex;
  align-content: center;
}

.navbar .menu .links ul{
  margin: 0px;
  list-style-type: none;
  position: relative;
  top: 5px;
}

.navbar .menu .links ul li{
  margin: 0px 30px 0px 0px;
  display: inline-block;
}

.navbar .menu .links .ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/*Home div*/
.home{
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
}

.home .background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.home .background .leftback{
  width: 33%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 0px;
}

.home .background .rightback{
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 33%;
}

.home .background .rightback .inner{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.home .background .rightback .image {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
}

.home .content .container{
  height: 100%;
}

.home .content_inner{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home .content_inner h2.stroke{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

h2{
    color:#fff;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
}

.home .content_inner span{
  font-family: "Montserrat";
  font-weight: 600;
  display: inline-block;
  padding-top: 20px;
  font-style: italic;  
}
/*About div*/
.about {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 193px;
  padding-top: 230px;
  box-sizing: border-box;
}

.about .about-inner{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
}

.about .about-inner .left{
  width: 40%;
}

.about .about-inner .left img{
  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 5s cubic-bezier(0, 0, 0, 1) 0s;
}

.about .about-inner .right{
  width: 60%;
  padding-left: 80px;
}

.about .name{
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255,.1);
  padding-bottom: 35px;
  margin-bottom: 32px;
}

.about .name h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  position: relative;
}

.about .right .text{
  width: 100%;
  float: left;
  margin-bottom: 23px;
}

.learnbutton{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: left;
  transition: all 0.4 ease;
}

.learnbutton a{
  border-color: #fff;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 13px 50px;
  display: inline-block;
  border: 2px solid #000;
  font-style: italic;
  transition: all 0.4 ease;
}

.learnbutton a:hover{
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.4 ease;
}

.bg{
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "Montserrat";
  color: transparent;
  font-size: 150px;
  font-weight: 900;
  opacity: .1;
  line-height: 0;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
}
/*Portfolio div*/
.maintitle .title h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  position: relative;
}

.portfolio{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 200px;
  padding: 205px 0px 100px 0px;
  background-color: #111;
}
.maintitle {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio .portfoliofilter{
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio .portfoliofilter ul{
  margin: 0px;
  list-style-type: none;
  padding-right: 50px;
  position: relative;
  top: 3px;
}

.portfolio .portfoliofilter ul li{
  margin: 0px 30px 0px 0px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  left: 10px;
  position: relative;
}

.portfolio .portfoliofilter ul li a{
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.portfolio .portfoliofilter ul li a .first{
  position:absolute;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.portfolio .portfoliofilter ul li a .first{
  position:relative;
  display: block;
  transition: all 0.3s ease;
}

.portfolio .portfoliofilter .wrapper{
  width: 30px;
  height: 17px;
  position: relative;
}

.portfolio .portfoliofilter .wrapper a{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.portfolio .portfoliofilter .wrapper .trigger{
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio .portfoliofilter .wrapper .trigger:before{
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #fff;
  left: 0px;
  top: -7px;
  transition: all 0.3s ease;
}

.portfolio .portfoliofilter .wrapper a:hover .trigger:before{
  left: 14px;
  transition: all 0.3s ease;
}

.portfolio .portfoliofilter .wrapper a:hover .trigger::after{
  right: 14px;
  transition: all 0.3s ease;
}

.portfolio .portfoliofilter .wrapper .trigger:after{
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #fff;
  right: 0px;
  bottom: -7px;
  transition: all 0.3s ease;
}

.portfolio .portfolioinner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 105px;
}

.portfolio .portfolioinner ul{
  margin: 0px 0px 0px -50px;
  list-style-type: none;
}

.portfolio .portfolioinner ul li{
  margin: 0px 0px 40px 0px;
  float: left;
  width: 33.3333%;
  padding-left: 50px;
}

.portfolio .portfolioinner ul li .list_inner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolioinner ul li .list_inner .image{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio .portfolioinner ul li .list_inner .image img{
  min-width: 100%;
  opacity: 0;
}

.portfolio .portfolioinner ul li .list_inner .image .main{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

img{
  vertical-align: middle;
  max-width: 100%;
}

.portfolio .portfolioinner ul li .list_inner .image .main:hover{
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.portfolio .portfolioinner ul li .title h2{
  margin-bottom: 2px;
  font-size: 30px;
}

.portfolio .portfolioinner ul li .title h2 a{
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.portfolio .portfolioinner ul li .title span a{
  text-decoration: none;
  color: #767676;
  position: relative;
  display: inline-block;
  font-style: italic;
}

/*Testimonios div*/

.testimonials{
  width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 100px;
}
.main_title{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_title .title h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  position: relative;
}

.testimonials .testinner{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  padding-top: 105px;
}

.testimonials .testinner .left{
  width: 50%;
  padding-right: 50px;
}

.testimonials .quote_list{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.testimonials .quote_list ul{
  margin: 0px;
  list-style-type: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.testimonials .quote_list ul li{
  position: absolute;
  margin: 0px;
  width: 100%;
}

.testimonials .quote_list ul li .img{
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  opacity: 0;
}

.testimonials .quote_list ul li .text{
  opacity: 0;
  visibility: hidden;
  font-style: italic;
  color:#fff;
  transition: all 0.5s ease;
}

.testimonials .details{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.testimonials .details .image{
  width: 65px;
  height: 65px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.testimonials .details .main{
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  opacity: 0;
}

.testimonials .short{
  padding-left: 25px;
}

.testimonials .short .author{
  font-family: "Montserrat";
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 8px;
}

.testimonials .short h2{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  position: relative;
}

.testimonials .short .job{
  font-family: "Mulish";
  font-size: 15px;
  font-weight: 400;
  display: block;
  font-style: italic;
}

/*Testimonial div right*/

.testimonials .testinner .right{
  width: 50%;
  padding-left: 50px;
}

.testimonials .testinner .right .image_list{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.testimonials .testinner .right .image_list ul li{
  margin: 0px 0px 50px 0px;
  float: left;
  width: 50%;
  padding-left: 50px;
  opacity: .5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testimonials .testinner .right .image_list ul li:hover{
  opacity: 1;
  transition: all 0.3s ease;
}

/*News div*/

.news{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 205px 0px 100px 0px;
  background-color: #111;
}

.news .newsinner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 105px;
}

.news .newsinner ul{
  margin: 0px 0px 0px -50px;
  list-style-type: none;
}

.news .newsinner ul li{
  margin: 0px 0px 50px 0px;
  float: left;
  width: 33.3333%;
  padding-left: 50px;
}

.news .newsinner ul li .list_inner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-shadow: 0px 0px 20px rgb(255 255 255 / 7%);
}

.news ul li .image{
  position: relative;
  overflow: hidden;
}

.news ul li .image img{
  min-width: 100%;
  opacity: 0;
} 

.news ul li .image .main{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.news ul li .details{
  width: 100%;
  float: left;
  padding: 30px 40px 25px 40px;
  background-color: #000;
  transition: all 0.3s ease;
}

.news ul li .extra{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
}

.news ul li .extra:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.1);
  bottom: -7px;
}

.news ul li .details .date{
  font-family: "Montserrat";
    font-size: 13px;
    color: #bbb;
    font-style: italic;
}

.news ul li .details .date a{
  text-decoration: none;
  transition:  all 0.3s ease;
  color: #bbb;
}

.news ul li .details .date span{
  position: relative;
}

.news ul li .details .date span:before{
  position: relative;
  content: "/";
  font-size: 10px;
  padding: 0px 7px 0px 2px;
}

.news ul li .details .title{
  margin-bottom: 10px;
  line-height: 1.4;
}

.news ul li .details .title a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
}

.news .main_content{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -11;
  display: none;
}

/*Contact div*/

.contact{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  margin-bottom: 150px;
  padding-top: 205px;
}

.contact .contactinner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.contact .desc{
  max-width: 50%;
  float: left;
  padding-top: 95px;
}

.contact .desc p{
  font-style: italic;
}

.contact .content_inner .wrapper{
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  padding-top: 43px;
}

.contact .contactinner .left{
  width: 50%;
  padding-right: 25px;
}

.contact .fields{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.contact .returnmessage{
  color: #3A00FF;
  margin-bottom: 7px;
  text-align: left;
  font-weight: 500;
}

.contact .empty_notice{
  color: #F52225;
  margin-bottom: 7px;
  display: none;
  text-align: left;
  font-weight: 500;
}

.contact .fields .first{
  width: 100%;
  float: left;
}

.contact .fields ul{
  margin: 0px;
  list-style-type: none;
}

.contact .fields ul li{
  width: 100%;
  margin: 0px 0px 30px 0px;
  float: left;
}

.contact .fields ul li input{
  border: 1px solid rgba(255,255,255,.1);
  color: #fff;
  background-color: transparent;
  font-style: italic;
  width: 100%;
}

.contact .fields .last textarea{
  width: 100%;
  border: 1px solid rgba(255,255,255,.1);
  color: #fff;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  background-color: transparent;
  font-style: italic;
}

.contact .fields .last .button{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.contact .fields .button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-color: #fff;
  border: 2px solid #fff;
  padding: 13px 50px;
  display: inline-block;
  font-style: italic;
  transition: all 0.3s ease 0s;
}

/*footer div*/

.footer{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 90px 0px 60px;
}

.footer .footerinner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.footer .footerinner ul{
  margin: 0px 0px 0px -30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footerinner ul li{
  margin: 0px 0px 30px;
  width: 25%;
  float: left;
  padding-left: 30px;
}

.footer .footerinner ul li span{
  display: block;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: 500;
}

.footer .footerinner ul li span a{
  text-decoration: none;
  color: #7fd7ff !important;
}
